* {
    background-color:darkslategrey;
    color: white;
}
section {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top:30px;
}
#quiz-box {
    display: block;
    border: 2px solid white;
    margin:100px;
    height: 600px;
}
#quiz-box h1 {
    text-align: center;
}
div {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    
}
#score {
    border: 2px solid white;
    border-radius: 20px;
    padding: 60px;
    
}
#timer {
    border: 2px solid white;
    text-align: center;
    padding-top:60px;
    border-radius: 20px;
    width: 180px;
}

button {
    display: block;
}
#answers :hover {
    background-color: black;

}
#initials {
    padding: 30px;
    text-align: center;
    width: auto;
    height:30px;
}
input {
   margin: 30px;
   background-color: white;
   color:black;
   border:
}